.wrapper
  =render partial:"shared/side_bar";

  .chat-main
    .main-header
      .main-header__left
        %h2.left__current-group
          =@group.name
        %ul.left__mamber-list
          - @group.group_users.each do |group_user|
            = group_user.user.name
      .main-header__edit-btn
        Edit
    .messages
      = render @messages
      
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            %i.fa.fa-image
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'

    