.wrapper
  =render partial:"shared/side_bar";

  .chat-main
    .main-header
      .main-header__left
        %h2.left__current-group
          サンプル
        %ul.left__mamber-list
          Member:東野裕輔
      .main-header__edit-btn
        Edit
    .messages
      .message
        .message__upper
          %p.message__upper__talker
            東野裕輔
          %p.message__upper__data
            2019/07/04(Thu) 10:59:29
        .message__text
          これはサンプルです。
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            %i.fa.fa-image
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'

    